<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Culture buddies</title>
    <!-- Required meta tags -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css}"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/style/style.css}">
    <link th:href='@{http://fonts.googleapis.com/css?family=Cookie}' rel='stylesheet' type='text/css'/>
</head>
<body>
<div class="container-fluid">
    <div th:include="page::header"></div>
    <div th:include="page::dashboard"></div>
    <article class="article-background-imgBooks">
        <div class="row padding">
            <div class="col-sm-1"></div>
            <div class="col-sm-8">
                <div class="table-background around-padding">
                    <div class="center cookie-font bigger-font small-margin-bottom"><span class="buddy-font medium-font"
                                                                                          th:text="${buddy.username}">My</span>
                        books by: <span
                                class="buddy-font medium-font" th:text="${author.getFullName()}"></span></div>
                    <table class="table striped">
                        <tbody th:each="bookWithOpinion: ${booksRatingList}">
                            <tr class="lighter-yellow other-font">
                                <td class="other-font medium-font center">rate</td>
                                <td class="link info-font medium-font right"><span
                                        th:text="${bookWithOpinion.book.title}">Title</span>
                                </td>
                                <td class="right">
                                    <form th:action="@{/app/myBooks/addFromBuddy}" method="post">
                                        <input type="hidden" name="bookId" th:value="${bookWithOpinion.id.bookId}">
                                        <button type="submit" class="btn btn-success">add</button>
                                    </form>
                                </td>
                            </tr>
                            <tr>
                                <td class="center title-font">
                                    <span th:if="${bookWithOpinion.rate !=null}">
                                        <span th:text="${bookWithOpinion.rate}">rate </span>
                                        <span class="bigger-font">&#129304;</span>
                                    </span>
                                    <span th:if="${bookWithOpinion.rate ==null}">
                                        <span class="bigger-font"> 	&#129300;</span>
                                    </span>
                                </td>
                                <td colspan="2" class="other-font left medium-font"
                                    th:text="${bookWithOpinion.comment}">comment
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-sm-1"></div>
        </div>
    </article>
    <footer>
        <div class="row">
            <div class="col-sm-12">
                <span class="images-references">Background photos by
                    <span><span> <a
                            href="https://unsplash.com/@itfeelslikefilm?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">🇸🇮 Janko Ferlič</a> on <a
                            href="https://unsplash.com/s/photos/library?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a>
                    </span></span></span>,
                <span>Photo by <a
                        href="https://unsplash.com/@anniespratt?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Annie Spratt</a> on <a
                        href="https://unsplash.com/s/photos/old-paper?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></span>and
                <span> by <a
                        href="https://unsplash.com/@yvettedewit?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Yvette de Wit</a>
                    on <a href="https://unsplash.com/s/photos/music-festival?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></span>
            </div>
        </div>
    </footer>

</div>
</body>
</html>