<!doctype html>
<!--suppress SyntaxError -->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Culture buddies</title>
    <!-- Required meta tags -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css}"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/style/style.css}">
    <link th:href='@{http://fonts.googleapis.com/css?family=Cookie}' rel='stylesheet' type='text/css'/>
</head>
<div class="container-fluid">
    <div th:include="page::header"></div>
    <div th:include="page::dashboard"></div>
    <article class="article-background-imgProfile">
        <div class="row padding">
            <div class="col-sm-1"></div>
            <div class="col-sm-10">
                <div class="table-background around-padding">
                    <div class="center cookie-font bigger-font small-margin-bottom margin-top ">
                        Change your photo
                    </div>
                    <div class="row">
                        <div class="col-sm-3"></div>
                        <div class="col-sm-6 center">
                            <form th:action="@{/app/board/changePicture/}" method="post" enctype="multipart/form-data">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <div class="form-group">
                                            <div class="small-margin-bottom">
                                                <label for="profilePicture"></label><small class="light-font">
                                                <input type="file" name="profilePicture"
                                                       accept="image/gif,image/png, image/jpeg"
                                                       id="profilePicture"/></small>
                                                <div th:if="${pictureMessage} != null"
                                                     th:text="${pictureMessage}"
                                                     class="error lighter">error
                                                </div>
                                            </div>
                                            <div class="btn-group" role="group">
                                                <button type="submit" id="add" class="btn btn-success">change
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-sm-3"></div>
                    </div>
                </div>
            </div>
            <div class="col-sm-1"></div>
        </div>
    </article>
    <footer>
        <div class="row">
            <div class="col-sm-12">
                <span class="images-references">Background photos by
                    <span><a
                            href="https://unsplash.com/@charlesdeluvio?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Charles Deluvio</a> on <a
                            href="https://unsplash.com/s/photos/sad?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></span>,
                <span>, <a
                        href="https://unsplash.com/@anniespratt?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Annie Spratt</a> on <a
                        href="https://unsplash.com/s/photos/old-paper?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></span>and
                <span> by <a
                        href="https://unsplash.com/@yvettedewit?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Yvette de Wit</a>
                    on <a href="https://unsplash.com/s/photos/music-festival?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></span>
                </span></div>
        </div>
    </footer>
</div>
</body>
</html>