<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Culture buddies</title>
    <!-- Required meta tags -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css}"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/style/style.css}">
    <link th:href='@{http://fonts.googleapis.com/css?family=Cookie}' rel='stylesheet' type='text/css'/>
</head>
<body>
<div class="container-fluid">
    <header class="jumbotron darker header-background-img">
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <img class="logo" th:src="@{/pictures/logo1.png}" alt="logo">
                <div class="col-sm-4"></div>
            </div>
        </div>
    </header>
    <div th:include="navigation::dashboard"></div>
    <article class="article-background-imgProfile">
        <div class="row padding">
            <div class="col-sm-1"></div>
            <div class="col-sm-6">
                <div class="table-backgroundProfile around-padding">
                    <div class="small-margin-bottom">
                        <h3 class="info-font light-font"><span th:text="${buddy.username}">Username</span>'s</h3>
                        <div class="center cookie-font">
                            <div class="btn-group margin-left" role="group">
                                <button type="button" class="btn"><a th:href="@{/app/myEvents/buddy/__${buddy.id}__}"
                                                                     class="important-link bigger-font">events</a>
                                </button>
                                <button type="button" class="btn"><a th:href="@{/app/myBuddies/books/__${buddy.id}__}"
                                                                     class="red-link bigger-font">books</a>
                                </button>
                                <button type="button" class="btn"><a th:href="@{/app/underConstruction}"
                                                                     class="red-link bigger-font">music</a>
                                </button>
                                <button type="button" class="btn"><a th:href="@{/app/underConstruction}"
                                                                     class="red-link bigger-font">films</a>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="center cookie-font bigger-font small-margin-bottom light-font small-padding">
                        Events recently added by <span class="buddy-font medium-font light-font"
                                                       th:text="${buddy.username}">Username</span>
                    </div>
                    <table class="table borderless">
                        <tbody>
                        <tr th:each="event: ${recentEvents}" class="info-font light-font medium-font">
                            <td class="center">
                                <span th:if="${event.title.length()<20}"><a
                                        th:text="${event.title}"
                                        th:href="@{/app/myEvents/info/__${event.id}__}">Title</a></span>
                                <span th:if="${event.title.length()>=20}"><a
                                        th:text="${#strings.substring(event.title,0,20)}"
                                        th:href="@{/app/myEvents/info/__${event.id}__}">Title</a>...</span>
                            </td>
                            <td th:text="${event.eventType.name}">type</td>
                            <td th:text="${event.address.city}">city</td>
                            <td th:text="${event.date.toString()}">21-09-12</td>
                            <td class="right">
                                <form th:action="@{/app/myEvents/join}" method="post">
                                    <input type="hidden" name="eventId" th:value="${event.id}"/>
                                    <button type="submit" title="join" class="btn btn-success"> &#129304;</button>
                                </form>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-sm-1"></div>
            <div class="col-sm-3">
                <div class="box">
                    <div class="frame">
                        <img class="profile-img" th:if="${picture!=null && !picture.isBlank()}"
                             th:src="*{'data:image/png;base64,'+ picture}" alt="profile picture">
                        <img class="profile-img" th:if="${picture == null || picture.isBlank()}"
                             th:src="@{${defaultPicture}}" alt="profile picture">
                    </div>
                    <div th:text="${buddy.username}" class="profile-picture-font  small-margin-top">username</div>
                </div>
            </div>
            <div class="col-sm-1"></div>
        </div>
    </article>
    <footer>
        <div class="row">
            <div class="col-sm-12">
                <span class="images-references">Background photos by
                   <span>
                         <span>Photo by <a
                                 href="https://unsplash.com/@hngstrm?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">
                             Henry &amp; Co.</a> on <a
                                 href="https://unsplash.com/s/photos/wall?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">
                             Unsplash</a></span>
                <span>, <a
                        href="https://unsplash.com/@anniespratt?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Annie Spratt</a> on <a
                        href="https://unsplash.com/s/photos/old-paper?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></span>and
                <span> by <a
                        href="https://unsplash.com/@yvettedewit?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Yvette de Wit</a>
                     on <a href="https://unsplash.com/s/photos/music-festival?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></span>
                   </span>
                </span></div>
        </div>
    </footer>
</div>
</body>
</html>