<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Culture buddies</title>
    <!-- Required meta tags -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css}"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/style/style.css}">
    <link th:href='@{http://fonts.googleapis.com/css?family=Cookie}' rel='stylesheet' type='text/css'/>
</head>
<body>
<div class="container-fluid">
    <div th:include="page::header"></div>
    <div th:include="page::dashboard"></div>
    <article class="article-background-imgEvents">
        <div class="row padding">
            <div class="col-sm-1"></div>
            <div class="col-sm-7">
                <div class="table-background around-padding">
                    <div class="center cookie-font error bigger-font margin-top-bottom">
                        Are you sure you want to remove
                        <div class="other-font medium-font small-margin-top small-margin-bottom"
                             th:text="${event.title}">this item
                        </div>
                        from your list?
                    </div>
                    <div class="center info-font">
                        <form th:action="@{/app/myEvents/delete}" th:method="post">
                            <input type="hidden" name="eventId" th:value="${event.id}">
                            <button type="submit" class="btn btn-danger">remove</button>
                        </form>
                        <button type="button" class="btn btn-info">
                            <a th:href="@{/app/myEvents/}" class="lighter-link">return</a>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-sm-1"></div>
        </div>
    </article>
    <footer>
        <div class="row">
            <div class="col-sm-12">
                <span class="images-references">Background photos by
                    <span><span> <a
                            href="https://unsplash.com/@itfeelslikefilm?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">🇸🇮 Janko Ferlič</a> on <a
                            href="https://unsplash.com/s/photos/library?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a>
                    </span></span></span>,
                <span>Photo by <a
                        href="https://unsplash.com/@anniespratt?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Annie Spratt</a> on <a
                        href="https://unsplash.com/s/photos/old-paper?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></span>and
                <span> by <a
                        href="https://unsplash.com/@yvettedewit?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Yvette de Wit</a>
                    on <a href="https://unsplash.com/s/photos/music-festival?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></span>
            </div>
        </div>
    </footer>

</div>
</body>
</html>