<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Culture buddies</title>
    <!-- Required meta tags -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css}"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/style/style.css}">
    <link th:href='@{http://fonts.googleapis.com/css?family=Cookie}' rel='stylesheet' type='text/css'/>
</head>
<body>
<div class="container-fluid">
    <div th:include="page::header"></div>
    <div th:include="page::dashboard"></div>
    <article class="article-background-imgEvents">
        <div class="row padding">
            <div class="col-sm-2"></div>
            <div class="col-sm-5">
                <div class="table-background padding">
                    <div class="center cookie-font bigger-font small-margin-bottom ">Event
                        <span class="other-font medium-font" th:text="${event.title}">title</span> details:
                    </div>
                    <div class="center cookie-font bigger-font small-margin-top small-margin-bottom ">
                        (the number of participants:
                        <span th:text="${event.buddies.size()}"> number </span>)
                    </div>
                    <div class="row">
                        <div class="col-sm-1"></div>
                        <div class="col-sm-8">
                            <div class="bigger-font left cookie-font small-margin-top small-margin-bottom"> Date:
                                <span class="info-font right medium-font"
                                      th:text="${event.date.toString()}"> date</span>
                            </div>
                            <div class="bigger-font left cookie-font small-margin-top small-margin-bottom"> Beginning
                                at:
                                <span class="info-font right medium-font"
                                      th:text="${event.time.toString()}"> time</span>
                            </div>
                            <div class="bigger-font left cookie-font small-margin-top small-margin-bottom"> Type
                                <span class="info-font right medium-font"
                                      th:text="${event.eventType.name}"> type</span>
                            </div>
                            <div class="left" th:if="${event.link!=null && event.link.length()>0}">
                                <a th:href="@{${event.link}}" class="bigger-font normal-weight-font red-link-cookie">link
                                    to event</a>
                            </div>
                            <div>
                                <div class="bigger-font bold-font center cookie-font small-margin-top small-margin-bottom">
                                    Description:
                                    <div class="other-font normal-weight-font medium-font small-margin-top "
                                         th:text="${event.description}"></div>
                                </div>
                                <div class="bigger-font bold-font cookie-font margin-top small-margin-bottom">
                                    <div class="left">Participants:</div>
                                    <table class="table center borderless small-margin-top">
                                        <tbody>
                                        <tr th:each="buddy: ${event.buddies}" class="info-font medium-font">
                                            <td>
                                                <div class="small-box">
                                                    <div class="frame">
                                                        <img class="profile-small-img"
                                                             th:if="${buddy.profileImage != null && !buddy.profileImage.isBlank()}"
                                                             th:src="*{'data:image/png;base64,'+ buddy.profileImage}"
                                                             alt="profile picture">
                                                        <img class="profile-small-img"
                                                             th:if="${buddy.profileImage== null|| buddy.profileImage.isBlank()}"
                                                             th:src="@{${defaultPicture}}"
                                                             alt="profile picture">
                                                    </div>
                                                </div>
                                            </td>
                                            <td><a class="red-link normal-weight-font"
                                                   th:text="${buddy.username}"
                                                   th:href="@{/app/myBuddies/info/__${buddy.id}__}">Buddy</a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="row">
                    <div>
                        <div class="card">
                            <div class="card-header">
                                <h4 class="text-center other-font light-font">Address</h4>
                                <div th:text="${event.address.city}">city</div>
                                <div>
                                    <span th:text="${event.address.street}">street</span>
                                    <span th:text="${event.address.number}">number</span>
                                    <span th:if="${event.address.flatNumber!=null && !event.address.flatNumber.isBlank()}">
                                    /<span th:text="${event.address.flatNumber}"></span>
                                </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <iframe
                            class="google-frame"
                            th:src="@{https://www.google.com/maps/embed/v1/place?key=AIzaSyBJ8MZ6wVrC8cRhDnB6KwhHMyY4x2IyZTY
                            &q=__${event.address.street}__+${event.address.number},+__${event.address.city}__}"
                            allowfullscreen="allowfullscreen">
                    </iframe>
                </div>
            </div>
            <div class="col-sm-2"></div>
        </div>
    </article>
    <footer>
        <div class="row">
            <div class="col-sm-12">
                <span class="images-references">Background photos by
                    <span><span> <a
                            href="https://unsplash.com/@itfeelslikefilm?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">🇸🇮 Janko Ferlič</a> on <a
                            href="https://unsplash.com/s/photos/library?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a>
                    </span></span></span>,
                <span>Photo by <a
                        href="https://unsplash.com/@anniespratt?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Annie Spratt</a> on <a
                        href="https://unsplash.com/s/photos/old-paper?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></span>and
                <span> by <a
                        href="https://unsplash.com/@yvettedewit?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Yvette de Wit</a>
                    on <a href="https://unsplash.com/s/photos/music-festival?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></span>
            </div>
        </div>
    </footer>
</div>
</body>
</html>