<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Culture buddies</title>
    <!-- Required meta tags -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css}"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/style/style.css}">
    <link th:href='@{http://fonts.googleapis.com/css?family=Cookie}' rel='stylesheet' type='text/css'/>
</head>
<body>
<div class="container-fluid">
    <header class="jumbotron darker header-background-img">
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <img class="logo" th:src="@{/pictures/logo1.png}" alt="logo">
                <div class="col-sm-4"></div>
            </div>
        </div>
    </header>
    <div th:include="navigation::dashboard"></div>
    <article class="article-background-imgBooks">
        <div class="row padding">
            <div class="col-sm-1"></div>
            <div class="col-sm-7">
                <div class="table-background around-padding">
                    <div class="center cookie-font bigger-font small-margin-bottom ">Choose from the list:</div>
                    <table class="table">
                        <tr th:each="gBook: ${gBooks}">
                            <td class="medium-font left">
                                <span class="bold-font" th:text="${gBook.volumeInfo.title}">title</span> by:
                                <span th:each="author: ${gBook.volumeInfo.authors}"
                                      th:text="${author}"><span>, </span></span>
                            </td>
                            <td>
                                <form th:action="@{/app/myBooks/add}" method="post" th:object="${book}">
                                    <input type="text" hidden="hidden" name="identifier"
                                           th:value="${gBook.volumeInfo.industryIdentifiers[0].identifier}"/>
                                    <input type="text" hidden="hidden" name="title"
                                           th:value="${gBook.volumeInfo.title}"/>
                                    <input type="text" hidden="hidden" name="thumbnailLink"
                                           th:if="${gBook.volumeInfo.imageLinks!=null && gBook.volumeInfo.imageLinks.thumbnail!=null}"
                                           th:value="${gBook.volumeInfo.imageLinks.thumbnail}"/>
                                    <select hidden="hidden" name="authorsFullName" multiple="multiple">
                                        <option th:each="author: ${gBook.volumeInfo.authors}"
                                                th:value="${author}" selected="selected"></option>
                                    </select>
                                    <button type="submit" class="btn btn-success">add</button>
                                </form>
                            </td>
                        </tr>
                    </table>
                    <div class="row">
                        <div class="col-sm-2">
                            <form method="get" th:if="${pageNo>0}"
                                  th:action="@{/app/myBooks/search/__${pageNo-1}__}">
                                <input type="hidden" name="author" th:value="${author}">
                                <input type="hidden" name="title" th:value="${title}">
                                <input type="hidden" name="maxPage" th:value="${maxPage}">
                                <button type="submit" class="btn btn-info bigger-font">
                                    &#8678;
                                </button>
                            </form>
                        </div>
                        <div class="col-sm-8"></div>
                        <div class="col-sm-2">
                            <form method="get" th:if="${pageNo<maxPage}"
                                  th:action="@{/app/myBooks/search/__${pageNo+1}__}">
                                <input type="hidden" name="author" th:value="${author}">
                                <input type="hidden" name="title" th:value="${title}">
                                <input type="hidden" name="maxPage" th:value="${maxPage}">
                                <button type="submit" class="btn btn-info bigger-font">&#8680;
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-1"></div>
        </div>
    </article>

    <footer>
        <div class="row">
            <div class="col-sm-12">
                <span class="images-references">Background photos by
                    <span><span> <a
                            href="https://unsplash.com/@itfeelslikefilm?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">🇸🇮 Janko Ferlič</a> on <a
                            href="https://unsplash.com/s/photos/library?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a>
                    </span></span></span>,
                <span>Photo by <a
                        href="https://unsplash.com/@anniespratt?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Annie Spratt</a> on <a
                        href="https://unsplash.com/s/photos/old-paper?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></span>and
                <span> by <a
                        href="https://unsplash.com/@yvettedewit?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Yvette de Wit</a>
                    on <a href="https://unsplash.com/s/photos/music-festival?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></span>
            </div>
        </div>
    </footer>

</div>
</body>
</html>