<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Culture buddies</title>
    <!-- Required meta tags -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css}"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/style/style.css}">
    <link th:href='@{http://fonts.googleapis.com/css?family=Cookie}' rel='stylesheet' type='text/css'/>
</head>
<body>
<div class="container-fluid">
    <div th:include="page::header"></div>
    <div th:include="page::dashboard"></div>
    <article class="article-background-imgBooks">
        <div class="row padding">
            <div class="col-sm-2"></div>
            <div class="col-sm-5">
                <div class="table-background padding">
                    <div class="row">
                        <div class="col-sm-10">
                            <div class="center cookie-font bigger-font small-margin-bottom ">Your buddies say about
                                <span class="other-font medium-font" th:text="${book.title}">title</span>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <form th:action="@{/app/myBooks/addFromBuddy}" method="post">
                                <input type="hidden" name="bookId" th:value="${book.id}">
                                <button type="submit" class="btn btn-success">add</button>
                            </form>
                        </div>
                    </div>
                    <div th:if="${averageRating!=null}" class="center cookie-font bigger-font small-margin-bottom ">
                        (average rating
                        <span th:text="${#numbers.formatDecimal(averageRating, 0, 'COMMA', 1, 'POINT')}">average rating</span>)
                    </div>
                    <div class="row">
                        <div class="col-sm-1"></div>
                        <div class="col-sm-7">
                            <dl>
                                <div th:each="rating : ${ratings}" class="margin-bottom">
                                    <dt class="small-margin-bottom left">
                                        <a th:href="@{/app/myBuddies/info/__${rating.id.buddyId}__}"
                                           class="red-link list-font" th:text="${rating.buddy.username}">
                                            Buddy username</a>
                                    </dt>
                                    <dd>
                                        <span class="bigger-font bold-font left cookie-font">(<span
                                                th:text="${rating.rate}"> rate </span>x &#129304;)</span>
                                        <span class="info-font right"
                                              th:text="${rating.comment}"> Comment </span>
                                    </dd>
                                </div>
                            </dl>
                        </div>
                        <div class="col-sm-3">
                            <div class="box">
                                <div>
                                    <img class="book-img" th:src="@{${book.getThumbnailLink()}}" alt="book photo"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
    <footer>
        <div class="row">
            <div class="col-sm-12">
                <span class="images-references">Background photos by
                    <span><span> <a
                            href="https://unsplash.com/@itfeelslikefilm?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">🇸🇮 Janko Ferlič</a> on <a
                            href="https://unsplash.com/s/photos/library?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a>
                    </span></span></span>,
                <span>Photo by <a
                        href="https://unsplash.com/@anniespratt?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Annie Spratt</a> on <a
                        href="https://unsplash.com/s/photos/old-paper?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></span>and
                <span> by <a
                        href="https://unsplash.com/@yvettedewit?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Yvette de Wit</a>
                    on <a href="https://unsplash.com/s/photos/music-festival?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></span>
            </div>
        </div>
    </footer>
</div>
</body>
</html>