body {
    background-color: rgb(45, 39, 39);
    color: burlywood;
}
.error_background {
    background-color: #d1d2d4;
}

.noTopBorder {
    border-style: none;

}

.link {
    text-decoration: none;
    color: black;
}

.link:hover {
    color: #393737;
    text-decoration: none;
}

.lighter-link {
    text-decoration: none;
    color: wheat;
}

.lighter-link:hover {
    color: white;
    text-decoration: none;
}

.yellow-link {
    text-decoration: none;
    color: darkgoldenrod;
}

.yellow-link:hover {
    color: white;
    text-decoration: none;
}

.important-link {
    text-decoration: none;
    color: gold;
}

.important-link:hover {
    color: yellow;
    text-decoration: none;
}

.red-link {
    text-decoration: none;
    color: darkred;
}

.red-link:hover {
    color: red;
    text-decoration: none;
}

.nav-item {
    display: inline;
    left: auto;
    padding: 5px;
}

.profile-picture-card {
    height: 50px;
}


.header-background-img {
    background-image: url(../pictures/yvette-de-wit-NYrVisodQ2M-unsplash.jpg);
    background-position:bottom;
    background-repeat: no-repeat;
    background-size: auto;
    height: 250px;
}


.article-background-img {
    background-image: url(../pictures/kinga-cichewicz-s4aOPAJ4v0E-unsplash.jpg);
    background-position: right bottom, left top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 1200px;
}

.article-background-imgRegister {
    background-image: url(../pictures/kinga-cichewicz-aHu_xuRvsZ4-unsplash.jpg);
    background-position: right top, left bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 1200px;
}

.article-background-imgBooks {
    background-image: url(../pictures/janko-ferlic-sfL_QOnmy00-unsplash.jpg);
    background-position: right bottom, left top;
    background-repeat: repeat;
    background-size: cover;
    height: auto;
    min-height: 800px;
}
.article-background-imgBuddies {
    background-image: url(../pictures/daniel-cheung-B7N0IjiIJYo-unsplash.jpg);
    background-position: right bottom, left top;
    background-repeat: repeat;
    background-size: cover;
    height: auto;
    min-height: 800px;
}

.article-background-imgProfile {
    background-image: url(../pictures/henry-co-M3KfixgdCko-unsplash.jpg);
    background-position:  bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height:auto;
}

.article-background-error {
    background-image: url(../pictures/charles-deluvio-K4mSJ7kc0As-unsplash.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: auto;
    height: 625px;
}

.table-background {
    background-image: url(../pictures/annie-spratt-PKq3htZdTto-unsplash.jpg);
    background-position: top;
    background-repeat: repeat;
    background-size: cover;
    height: auto;
}

.table-backgroundProfile {
    background-image: url(../pictures/peter-gargiulo-cGNCepznaV8-unsplash.jpg);
    background-position: top left;
    background-repeat: repeat;
    background-size: auto;
    height: 700px;
}

/*FRAME AND PROFILE PICTURE*/
.box {
    width: 100%;
    height: 200px;
    border: 5px;
}
.small-box{
    width: 100%;
    height: 60px;
    border: 5px;
}

.profile-img {
    outline: 5px solid rgba(2,9,13,0.82);
    outline-offset: 7px;
    max-height: 300px;
    max-width: 100%;
}
.profile-small-img {
    outline: 1px solid rgba(2,9,13,0.82);
    outline-offset: 2px;
    max-height: 50px;
    max-width: 100%;
}



.book-img {
    border: 10px rgb(45, 39, 39);
    height: fit-content;
}

.lighter {
    background-color: rgba(169, 169, 169, 0.62);
}

.errorInput {
    background-color: rgba(246, 0, 0, 0.37);
}


.lighter-yellow {
    background-color: rgba(238, 175, 76, 0.29);
}

.lighter-green {
    background-color: rgba(128, 128, 0, 0.66);
}

.main-font {
    font-style: italic;
    font-family: "Bitstream Vera Serif", serif;
    font-weight: bolder;
    color: burlywood;
    text-decoration: burlywood underline;
}

.cookie-font {
    font: 400 130px/0.8rem 'Cookie', Helvetica, sans-serif;
    color: black;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.title-font {
    font-style: italic;
    font-family: "Bitstream Vera Serif", serif;
    font-weight: bolder;
    color: black;
    text-transform: uppercase;
}

.list-font {
    font-style: italic;
    font-family: "Bitstream Vera Serif", serif;
    font-weight: bolder;
    text-transform: uppercase;
}

.medium-font {
    font-size: 1.2rem;
}

.smaller-font {
    font-size: 0.6rem;
}

.bigger-font {
    font-size: 2rem;
}

.center {
    text-align: center;
}

.left {
   text-align: left ;

}

.right {
    text-align: right;
}

.bold-font {
    font-weight: bold;
}

.info-font {
    font-family: "Source Code Pro", serif;
    color: black;
    font-style: italic;
    text-align: center;
}
.buddy-font {
    font-family: "Source Code Pro", serif;
    color: black;
    font-style: italic;
}


.profile-picture-font {
    font-family: "Source Code Pro", serif;
    color: black;
    font-style: italic;
    font-size: 30px;
    font-weight: bold;
}

.other-font {
    font-family: "Source Code Pro", serif;
    color: black;
}

.light-font {
    color: wheat;
}

.error {
    color: darkred;
}
.light-error {
    color: lightcoral;
}

.jumbotron {
    background-color: darkslategrey;
}

small {
    color: black;
}

.card {
    background-color: rgba(33, 31, 31, 0.5);
    color: wheat;
}

.darker {
    background-color: rgba(33, 31, 31, 0.5);
}

.form-group input {
    background-color: darkgrey;
    color: black;
}

.margin-top-bottom {
    margin-bottom: 100px;
    margin-top: 50px;
}
.small-margin-top{
    margin-top: 30px;
}

.margin-top {
    margin-top: 100px;
}

.small-margin-bottom {
    margin-bottom: 20px;
}

.margin-bottom {
    margin-bottom: 20px;
}

.small-margin-around {
    margin: -50px 20px 4px 10px;
}

.very-small-margin-bottom {
    margin-bottom: 10px;
}

.logo {
    width: auto;
    height: 8rem;
    margin: 0 0 0 100px;
}

.margin-left {
    margin-left: 20px;
}

.no-margin {
    margin: 0 0 0 0;
}

.padding {
    padding-top: 50px;
    padding-bottom: 50px;
}

.around-padding {
    padding: 50px 50px 50px 50px;
}

.small-padding {
    padding: 10px 10px 10px 10px;
}

.border {
    border: 30px groove;
    border-radius: 40px 40px 40px 40px;
}

.btn-danger {
    background-color: rgba(122, 2, 6, 0.47);
    border: #ddcaca 2px solid;
    color: wheat;
    font-weight: bold;
    text-transform: uppercase;
}

.btn-warning {
    background-color: rgba(8, 68, 36, 0.5);
    border: #ddcaca 2px solid;
    color: #000;
    font-weight: bold;
    text-transform: uppercase;
}

.btn-info {
    background-color: rgba(184, 134, 11, 0.57);
    border: #ddcaca 2px solid;
    color: wheat;
    font-weight: bold;
    text-transform: uppercase;
}

.btn-info:hover {
    background-color: goldenrod;
    border: #ddcaca 2px solid;
    color: wheat;
    font-weight: bold;
    text-transform: uppercase;
}

.btn-success {
    background-color: rgba(128, 128, 0, 0.6);
    border: #ddcaca 2px solid;
    color: wheat;
    font-weight: bold;
    text-transform: uppercase;
}

.images-references {
    font-style: italic;
}

.narrow {
    width: 50px;
}
.medium-input {
    width: 200px;
}

.green-font {
    color: darkred;
}