<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Culture buddies</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/style/style.css}">
</head>
<body>
<div class="container">

    <header class="jumbotron darker header-background-img">
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <img class="logo" th:src="@{/pictures/logo1.png}" alt="logo">
                <div class="col-sm-4"></div>
            </div>
        </div>
    </header>

    <article class="article-background-img">
        <div class="row padding">
            <div class="col-sm-1"></div>
            <div class="col-sm-4">
                <h3 class="info-font lighter small-padding">Join and experience cultural events with new buddies!</h3>
                <div class="info-font medium-font">
                    <div>Meet at concerts, museums, cinemas, theaters... Talk about books, music, art. Get discounts
                        only for culture buddies!
                    </div>
                    <div class="bold-font">This page is just the beginning. Get out of the internet and live for real!
                    </div>
                </div>
            </div>
            <div class="col-sm-1"></div>
            <div class="col-sm-4">
                <form method="post" >
                    <div class="card">
                        <div class="card-header">
                            <h2 class="text-center other-font light-font">Login</h2>
                        </div>
                        <div class="card-body text-center">
                            <div class="form-group">
                                <label for="username"></label><input type="text" id="username" class="form-control"
                                                                     placeholder="username..."/>
                                <small id="helpUsername" class="light-font">username</small>
                                <label for="password"></label><input type="text" id="password"
                                                                     class="form-control"
                                                                     placeholder="password..."/>
                                <small id="helpPassword" class="light-font">password</small>
                            </div>
                            <div class="btn-group" role="group">
                                <button type="button" id="login" class="btn btn-success">log in
                                </button>
                                <button type="reset" class="btn btn-warning">reset</button>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="card">
                    <div class="card-header">
                        <h4>You don't have an account yet? </h4></div>
                        <div class="center">
                        <button type="submit" id="register" class="btn-info"><a th:href="@{/register}" class="link">register</a></button>
                        </div>
                </div>
            </div>
        </div>
    </article>

    <footer>
        <div class="row">
            <div class="col-sm-12">
                <span class="images-references">Background photos by
                    <span> <a
                            href="https://unsplash.com/@all_who_wander?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Kinga Cichewicz</a>
                        on <a href="https://unsplash.com/s/photos/books-and-friends?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">
                            Unsplash</a></span></span> and
                <span> by <a
                        href="https://unsplash.com/@yvettedewit?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Yvette de Wit</a>
                    on <a href="https://unsplash.com/s/photos/music-festival?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></span>
            </div>
        </div>
    </footer>

</div>
</body>
</html>