<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="pl">
<head>
    <title>Culture buddies</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css}"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/style/style.css}">
</head>
<body>
<div th:fragment="dashboard">
    <div class="row">
        <div class="col-sm-10">
            <ul class="lighter-green medium-font cookie-font center">
                <li class="nav-item">
                    <a class="lighter-link" th:href="@{/app/board/profile/}">
                        <h3 class="nav-item">my profile</h3>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="lighter-link" th:href="@{/app/myBooks/}">
                        <h3 class="nav-item">my books</h3>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="lighter-link" th:href="@{/app/myBuddies/}">
                        <h3 class="nav-item">my buddies</h3>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="lighter-link" th:href="@{/app/underConstruction}">
                        <h3 class="nav-item">my films</h3>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="lighter-link" th:href="@{/app/underConstruction}">
                        <h3 class="nav-item">my music</h3>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="important-link" th:href="@{/app/myEvents/}">
                        <h2 class="nav-item">events</h2>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="link" th:href="@{/app/board/changePassword/}">
                        <h3 class="nav-item">change password</h3>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="link" th:href="@{/app/board/changePicture/}">
                        <h3 class="nav-item">change picture</h3>
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-sm-2">
            <ul class="medium-font cookie-font center">
                <li class="nav-item">
                    <form class="nav-item" th:action="@{/app/logout}" method="post">
                        <button type="submit" class="btn btn-logout"><h3>log out</h3></button>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>